.container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 10px auto;
}

.container__list {
  border: 1px solid black;
  padding: 10px;
  width: 29%;
}

.container__btn {
  display: flex;
  width: 130px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  vertical-align: top;
}
